<!DOCTYPE html>
<html>
<head>
<title>Titulo</title>
<script src="node_modules/angular/angular.js"></script>
<script>
	angular.module('myApp', []);
	var app = angular.module('myApp');

	app.service('pessoaService', function($http) {
		var vm = this;
		vm.salvar = salvar;

		function salvar(params) {
			return $http.post("http://localhost:8080/crud/rest/pessoa/salvar",
					params);
		}
		;
	});

	app.controller('pessoaController', function($scope, pessoaService) {

		$scope.salvar = function() {
			console.log("salvar")
			pessoaService.salvar($scope.pessoa).then(
					function(response) {
						$scope.success = "Salvo com sucesso";
					},
					function(error) {
						$scope.error = 'Unable to load customer data: '
								+ error.message;
					});
		}
	})
</script>
</head>
<body ng-app="myApp" , ng-controller="pessoaController">
	Nome:
	<input type="text" ng-model="pessoa.nome" />
	<br />
	<br /> CPF:
	<input type="text" ng-model="pessoa.cpf" />
	<br />
	<br /> Idade:
	<input type="text" ng-model="pessoa.idade" />
	<br />
	<br />
	<button ng-click="salvar()">Salvar</button>
</body>
</html>